{% load static %}


{% include 'doktorsitesi/components/header.html' %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'doktorsitesi/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Ameliyatsız Yüz Germe</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Ameliyatsız yüz germe </a></span> </p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-12 ftco-animate">
            <h2 class="mb-3">Ameliyatsız Yüz Germe</h2>
            <p>Ameliyatsız yüz germe,  cerrahi işlem olmaksızın, yüzdeki kırışıklık ve sarkmaları  kaldıran bir yöntemdir. Cilt gençleştirme ve yüz germe metodları ile birleşerek anatomik bilgi ve teknikler, ameliyat olmadan da ameliyat benzeri sonuçlar elde edilmesini sağlamaktadır.</p>
              <br><br>
              <img width="300" src="{% static 'doktorsitesi/images/ameliyatsiz-yuz-germe.png' %}" alt="Ameliyatsız Yüz Germe" class="img-fluid mx-auto d-block">
              <br><br>
              <p>Ameliyatsız tekniklerin tümünün avantajı, günlük ve iş yaşamına hızlı bir şekilde geri dönüş yapılabilmesidir. Bunun yanında, ameliyat kaynaklı yan etkilerin de etkisi  kalkmış olur. Operasyon yapılırken genel anestezi uygulanmaz. İşlemlerin çoğu cilt alt ve cilt dokularını onardığı için yaşlanmaya karşı önlem de alınmış olur.</p>
            <p>

            </p>
              <hr>


            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img width="200px" src="{% static 'doktorsitesi/images/ozgecmis-resim.png' %}" alt="Opr. Dr. Ali Yılmaz" class="img-fluid mb-4 div-only-desktop">
              </div>
              <div class="desc">
                <h3>Opr. Dr. Ali Yılmaz</h3>
                <p>Doktor xxx 1990 yılında marmara Üniversitesi tıp fakültesinden mezun olmuştur.
                  <li>1990 1994 yılları arasında Konya devlet hastanesinde çalıştı.</li>
                  <li>1994 2000 yılları arasında Kayseri Erciyes Üniversitesi plastik cerrahi kliniğinde görev yaptı.</li>
                  <li>2000 2003 yılları arasında medikal park plastik cerrahi kliniği direktörlüğü yaptı.</li>
                  <li>2003 yılında Xx estetik kliniğini kurdu.</li></p>
              </div>
            </div>


          </div> <!-- .col-md-8 -->


        </div>
			</div>
		</section>







{% include 'doktorsitesi/components/footer.html' %}