{% load static %}

{% include 'doktorsitesi/components/header.html' %}





    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'doktorsitesi/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Botoks</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Botoks </a></span> </p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-12 ftco-animate">
            <h2 class="mb-3">Botoks</h2>

              <p>Yüksek yaşlarına rağmen güzellikleri ile herkesin kendine hayran olduğu birçok ünlüyü televizyonda veya sinemalarda görebilirsiniz. Ünlülerin estetiği Botox ise size aslında hiç  uzak değil. Siz de bu yöntem ile beraber kırışıklıklarınızdan kolay bir şekilde kurtulabilir, cildinizi yeniden canlandırabilirsiniz. Botox, zamanla yüzde meydana gelen dinamik kırışıklıkları ve çizgileri azaltan basit, cerrahi olmayan bir uygulamadır. 10 dakikalık bir uygulama ile kırışıklık ve buna sebep olan kasları 6 aya kadar gevşetebilir.</p>

              <p>Estetik cerrahide büyük bir yenilik yaratan buluş olan botox, kırışıklık ile mücadelede en hızlı sonuç veren estetik cerrahi uygulamadır. Dünyada çok sık yapılan estetik cerrahi uygulaması olan bu işlem, acı vermez ve ortalama 10 dakika süren bir estetik müdahaledir. Estetik güzellik dışında terleme tedavisinde de başarı ile uygulanmaktadır. Aşırı terleme, koltuk altı terlemesi el terlemeleri ve koku yapan ayak terlemelerinde de bu işlem uygulanmaktadır.</p>

              <br>
              <img width="300" src="{% static 'doktorsitesi/images/botoks.png' %}" alt="Botoks" class="img-fluid mx-auto d-block">

              <br>
              <p>-İşlem kesinlikle bir estetik cerrah tarafından ve temiz bir ortamda yapılmalıdır. Botox enjeksiyonları, kırışıklık meydana getiren kasları rahatlatarak, yüz kaslarının fazla kullanılması sebebiyle oluşan kırışıklıkları ve çizgileri ortadan kaldırır. Botox’un en çok kullanılan estetik işlemlerden biri haline gelmesinin pek çok nedeni vardır. Alında ve yanaklarda kaz ayağı diye bilinen, gözle şakaklar arasında meydana gelen kırışıklıklar, deri altındaki kasların her zaman hareket halinde olmasından kaynaklanmaktadır.</p>



            <p>

            </p>
              <hr>


            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img width="200px" src="{% static 'doktorsitesi/images/ozgecmis-resim.png' %}" alt="Opr. Dr. Ali Yılmaz" class="img-fluid mb-4 div-only-desktop">
              </div>
              <div class="desc">
                <h3>Opr. Dr. Ali Yılmaz</h3>
                <p>Doktor xxx 1990 yılında marmara Üniversitesi tıp fakültesinden mezun olmuştur.
                  <li>1990 1994 yılları arasında Konya devlet hastanesinde çalıştı.</li>
                  <li>1994 2000 yılları arasında Kayseri Erciyes Üniversitesi plastik cerrahi kliniğinde görev yaptı.</li>
                  <li>2000 2003 yılları arasında medikal park plastik cerrahi kliniği direktörlüğü yaptı.</li>
                  <li>2003 yılında Xx estetik kliniğini kurdu.</li></p>
              </div>
            </div>


          </div> <!-- .col-md-8 -->


        </div>
			</div>
		</section>





{% include 'doktorsitesi/components/footer.html' %}