{% load static %}


{% include 'doktorsitesi/components/header.html' %}




    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'doktorsitesi/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Burun Estetiği</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Burun Estetiği </a></span> </p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-12 ftco-animate">
            <h2 class="mb-3">Burun Estetiği</h2>
            <p>Yüz güzelliğinde en dikkat çekici yerlerden biri burnunuzdur. Güzel bir buruna sahip olduğunuzda, gözleriniz ve kaşlarınız ön plana çıkmaktadır. Burunun şekli, yüzün karakteristik özelliğini ve hatlarını tamamlayan en önemli parçadır. Estetik burun ameliyatları sadece şekilsel bozukluklar için değil, aynı zamanda nefes alabilme ile ilgili sorunların da düzeltilebileceği çok özel operasyonlardır.
Burun estetiğinde en önemli noktalardan biri de, yüzünüzdeki bütünlüğü bozmayacak şekilde, genel karakteristik özelliklerinize uygun bir doğallık yakalayabilmektir.</p>

              <p>Estetik burun operasyonları ile;

                <li>Burnun boyutu küçültülebilir.</li>
                <li>Burnun üstündeki kemer alınabilir.</li>
                <li>Burnun ucu kaldırılabilir.</li>
                <li>Burun kısaltılabilir veya uzatılabilir.</li>
                <li>Burun ucunun şekli değiştirilebilir (kalınsa inceltilebilir, ince ise genişletilebilir).</li>
                <li>Burun delikleri daraltılabilir veya genişletilebilir.</li>
                <li>Üst dudakla burun arasındaki açı değiştirilebilir.</li>
                <li>Burundaki eğrilik düzeltilebilir.</li>
                <li>Eski operasyonlar sonucu oluşan memnuniyetsiz sonuçlar düzeltilebilir.</li>

              </p>

              <p>Doğuştan oluşan bozuklukların, burun yaralanmalarının ve bazı solunumsal problemler bu operasyonla düzeltilebilir.
</p>
            <p>



            </p>
            <p>
              <hr>


            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img width="200px" src="{% static 'doktorsitesi/images/ozgecmis-resim.png' %}" alt="Opr. Dr. Ali Yılmaz" class="img-fluid mb-4 div-only-desktop">
              </div>
              <div class="desc">
                <h3>Opr. Dr. Ali Yılmaz</h3>
                <p>Doktor xxx 1990 yılında marmara Üniversitesi tıp fakültesinden mezun olmuştur.
                  <li>1990 1994 yılları arasında Konya devlet hastanesinde çalıştı.</li>
                  <li>1994 2000 yılları arasında Kayseri Erciyes Üniversitesi plastik cerrahi kliniğinde görev yaptı.</li>
                  <li>2000 2003 yılları arasında medikal park plastik cerrahi kliniği direktörlüğü yaptı.</li>
                  <li>2003 yılında Xx estetik kliniğini kurdu.</li></p>
              </div>
            </div>


          </div> <!-- .col-md-8 -->


        </div>
			</div>
		</section>










{% include 'doktorsitesi/components/footer.html' %}