{% load static %}

{% include 'doktorsitesi/components/header.html' %}




    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'doktorsitesi/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Opr. Dr. Ali Yılmaz Kimdir?</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Doktor Hakkında </a></span> </p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-12 ftco-animate">
            <h2 class="mb-3">Yılmaz Estetik Kliniği Hakkında</h2>

              <p>Estetikly 2003 yılında Prof.dr Ali Yılmaz tarafından kurulmuş ve bugün Türkiye’nin kaydedeğer lider sağlık kuruluşlarından biri haline gelmiştir.
Gerek yurt içi gerek yurt dışından gelen insanlarımızın  yaşam kalitelerini yükseltmeyi ilke haline getirmiştir.
Estetik cerrahi konusunda uzman ekibimiz ile Türkiye’de 3 ayrı noktada 80 milyon vatandaşımıza hizmet vermeye devam etmektedir.</p>

              <p>Profesyonel klinik hizmetlerimizin yanında laboratuvar birimlerini de kendimiz sahibiz.
Türkiye içindeki vatandaşlarımız için kliniğimize  geldikleri andan çıkana kadar en üst düzey,profesyonel ve sağlıklı bir şekilde süreci yürütmektedir.
</p>

              <p>Günümüzün teknolojisinin ötesinde teknoloji aletleri kullanılıp ve her yıl düzenli olarak araçlarımız değiştirilip teknolojiye ayak uydurmaktadır.</p>

              <p>Yurt dışı sağlık turizmi için gelen hastalarımız yüzde yüz memnuniyetle ülkelerine dönmektedirler.
Estetik,plastik,rekonstrüktif cerrahi hizmetlerini ve medikal estetik hizmetlerini sunmaktadır.</p>


              <p>Sunduğu hizmetlerde kendi saygınlığına yaraşır şekilde bilimi temel alarak hastalarına çözümler üretir.
Kliniğimize gelen hastalarımıza estetik cerrahi yanında fiziksel,sosyal ve psikolojik bir tedavi uygulanır.
Estetik operasyon olarak meme büyültme ve küçültme,burun estetiği,liposuction,göz kapağı ameliyatı,yağ enjeksiyonu operasyonları özellikle uzman olduğumuz alanlardandır.</p>

              <br>
              <img width="500" src="{% static 'doktorsitesi/images/makale-resim.png' %}" alt="Ali Yılmaz Hakkında" class="img-fluid mx-auto d-block">

              <br>
              <p>Bunların yanında saç ekimi,saç dökülmesi engellenmesi,bıyık,kaş ve sakal ekimlerini en iyi şekilde yapmaktadır.
20 yılın üzerinde deneyimiz ve uzman ekibimiz ile estetik cerrahi operasyonlarını ve süreci en profesyonel şekilde yürütmektedir.</p>

              <p>Günümüzde estetik tedaviler alanında büyük gelişmeler olmuştur artık ameliyatsız cerrahi müdahalenin ön planda olmadığı alternatif tedaviler yapılmaktadır.
sizin tedavi sürecinize uygun müdahaleler ile başlayıp devam eden süreçte isteklerinize ve ihtiyaçlarınıza göre estetik cerrahi müdahalede bulunuyoruz.
Estetikly ailesi olarak her zaman ilk tercihimiz sizin sağlınız olmuştur ve her zaman böyle olacaktır.</p>

            <p>

            </p>
              <hr>


            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img width="200px" src="{% static 'doktorsitesi/images/ozgecmis-resim.png' %}" alt="Opr. Dr. Ali Yılmaz" class="img-fluid mb-4 div-only-desktop">
              </div>
              <div class="desc">
                <h3>Opr. Dr. Ali Yılmaz</h3>
                <p>Doktor xxx 1990 yılında marmara Üniversitesi tıp fakültesinden mezun olmuştur.
                  <li>1990 1994 yılları arasında Konya devlet hastanesinde çalıştı.</li>
                  <li>1994 2000 yılları arasında Kayseri Erciyes Üniversitesi plastik cerrahi kliniğinde görev yaptı.</li>
                  <li>2000 2003 yılları arasında medikal park plastik cerrahi kliniği direktörlüğü yaptı.</li>
                  <li>2003 yılında Xx estetik kliniğini kurdu.</li></p>
              </div>
            </div>


          </div> <!-- .col-md-8 -->


        </div>
			</div>
		</section>










{% include 'doktorsitesi/components/footer.html' %}