{% load static %}


{% include 'doktorsitesi/components/header.html' %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'doktorsitesi/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Fue Saç Ekimi</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Fue Saç Ekimi </a></span> </p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-12 ftco-animate">
            <h2 class="mb-3">Fue Saç Ekimi</h2>

              <p>Saç dökülmesi sorunları günümüzde stresin de artmasıyla önlenemez hale gelmiştir.
Hem kadın hem erkek olarak cinsiyet farketmeksizin herkesin ortak problemidir.
Şimdiye kadar bir çok doğal ve tıbbi çözüm üretilmeye çalışılmıştır.
Bunların arasında Saç Ekimi en doğal ve en sonuç alınan tedavidir.</p>

              <p>Saç Ekimi tedavisinde bir çok yöntem bulunmaktadır bunlardan en çok uygulananı fue saç ekimidir.Bu yöntemin en önemli özelliği herhangi bir cerrahi müdahale olmamasıdır.</p>

              <p>Cinsiyet farkı bulunmaksızın, her kadın ve erkeğin arzusu güzel bir vücuda sahip olmaktır. Kadınlar ince ve belirgin bir bel çukuru, düz bir karın, yuvarlak ve dik bir poponun yanında biçimli bir göğüse sahip olmak isterler.</p>



              <br>
              <img width="300" src="{% static 'doktorsitesi/images/sac-ekimi.png' %}" alt="Fue Saç Ekimi" class="img-fluid mx-auto d-block">

              <br>
              <p>Kafanızda herhangi bıçak darbesi olmadan çok hızlı ve başarılı sonuç alınacaktır.Hiç operasyon geçirilmemiş olmasının doğal sonucu olarak kafanızda herhangi dikiş izi de olmayacaktır. Böylece daha şık be estetik kafa yapınız olacak.
Çok yüksek başarı elde edilen bu yöntem sayesinde, kelleşmeleriniz büyük oranda giderilecektir.</p>



            <p>

            </p>
              <hr>


            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img width="200px" src="{% static 'doktorsitesi/images/ozgecmis-resim.png' %}" alt="Opr. Dr. Ali Yılmaz" class="img-fluid mb-4 div-only-desktop">
              </div>
              <div class="desc">
                <h3>Opr. Dr. Ali Yılmaz</h3>
                <p>Doktor xxx 1990 yılında marmara Üniversitesi tıp fakültesinden mezun olmuştur.
                  <li>1990 1994 yılları arasında Konya devlet hastanesinde çalıştı.</li>
                  <li>1994 2000 yılları arasında Kayseri Erciyes Üniversitesi plastik cerrahi kliniğinde görev yaptı.</li>
                  <li>2000 2003 yılları arasında medikal park plastik cerrahi kliniği direktörlüğü yaptı.</li>
                  <li>2003 yılında Xx estetik kliniğini kurdu.</li></p>
              </div>
            </div>


          </div> <!-- .col-md-8 -->


        </div>
			</div>
		</section>










{% include 'doktorsitesi/components/footer.html' %}