{% load static %}

{% include 'doktorsitesi/components/header.html' %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'doktorsitesi/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Opr. Dr. Ali Yılmaz'a Ulaşın</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Bize Ulaşın </a></span> </p>
          </div>
        </div>
      </div>
    </section>




    <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
			<div class="container">
				<div class="row d-flex align-items-stretch no-gutters">
					<div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
						<form action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Adınız Soyadınız">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Telefon Numaranız">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Konu">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
              </div>
            </form>
					</div>
					<div class="col-md-6 d-flex align-items-stretch">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12029.663394913934!2d29.007242289071424!3d41.081759842955314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab66eb1aaff27%3A0x306025824b2de11e!2zTGV2ZW50IE1haGFsbGVzaSwgMzQzMzAgQmXFn2lrdGHFny_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1549891716226" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h4">İletişim Bilgileri</h2>
          </div>
          <div class="w-100"></div>
          <div class="col-md-4 d-flex">
          	<div class="bg-light d-flex align-self-stretch box p-4">
	            <p><span>Adres:</span> Büyükdere Mahallesi, Çırağan Sokak, A Apartmanı No 144</p>
	          </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="bg-light d-flex align-self-stretch box p-4">
	            <p><span>Telefon Numarası:</span> <a href="tel://1234567920">0 (216) 349 28 73</a></p>
	          </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="bg-light d-flex align-self-stretch box p-4">
	            <p><span>E-mail:</span> <a href="mailto:info@yoursite.com">ali@draliyilmaz.com</a></p>
	          </div>
          </div>

        </div>
      </div>
    </section>








{% include 'doktorsitesi/components/footer.html' %}