{% load static %}

{% include 'doktorsitesi/components/header.html' %}

    
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url({% static 'doktorsitesi/images/resimanasayfa.png' %});" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 text ftco-animate">
            <h1 class="mb-4">Burun, Kalça <span>Estetikleri</span></h1>
            <h3 class="subheading">Tüm vücut estetiklerinde uzman Opt. Dr. Ali Yılmaz ile tanışın</h3>
            <p><a href="#" class="btn btn-outline-secondary px-4 py-3 mt-3">Hemen İnceleyin</a></p>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url({% static 'doktorsitesi/images/anasafa2.png' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 text ftco-animate">
            <h1 class="mb-4">Uzman Kontrolünde <span>Botoks ve Ozon Tedavisi</span></h1>
            <h3 class="subheading">Botoks ve ozon tedavisinde etkili tedavi ile gençleşin</h3>
            <p><a href="#" class="btn btn-outline-secondary px-4 py-3 mt-3">Hemen İnceleyin</a></p>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="ftco-services ftco-no-pb">
			<div class="container">
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-first-aid-kit"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Sizin Özel Olan Estetik Hizmeti</h3>
                <p>Tamamen sizin ihtiyaç ve arzularınız göz önüne alınarak sizin en doğal halinizi yansıtan estetik hizmeti</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-ambulance"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Acil Durum Kontrolü</h3>
                <p>Ameliyat öncesi ve sonrası sağlık durumunuz sürekli kontrol edilerek herhangi acil durumda anlık müdahale yapılır.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-stethoscope"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Sürekli Takip</h3>
                <p>Operasyondan sonra sürekli durum takibi ile sağlık verileriniz kontrol edilir ve size en uygun ve en konforlu sağlık hizmeti sağlanır. </p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-24-hours"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">24 Saat Ulaşım</h3>
                <p>24 saat gerek doktorumuza gerek sağlık personellerimize ulaşım imkanı ile size uygun ve özel sağlık hizmeti ile tanışın.</p>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url({% static 'doktorsitesi/images/draliyilmaz-hakkinda.png' %});">
					</div>
					<div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
	          <div class="heading-section mb-5">
	          	<div class="pl-md-5 ml-md-5">
		          	<span class="subheading">Opt. Dr. Ali Yılmaz Hakkında</span>
		            <h2 class="mb-4" style="font-size: 28px;">Estetik ve saç ekimi konusunda uzman Opr. Dr. Ali Yılmaz ile kaliteli tedavi hizmeti</h2>
	            </div>
	          </div>
	          <div class="pl-md-5 ml-md-5 mb-5">
							<p>Uzun yıllardır süregelen sağlık alanındaki görmüş geçirmişiliği ile birlikte Op.Dr. Ali Yılmaz hastalarına daha güzel günler için güvenilir estetik hizmeti sunmaktadır. Estetik doktorluğundaki başarısı ile Dünya çapında farklı ülkelerde de estetik cerrahisinde başarılı bir tanınırlığa sahip olan Op.Dr. Ali Yılmaz‘ın sizlere sunduğu kaliteli tıp hizmeti ile tanışın.</p>
							<div class="row mt-5 pt-2">
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
										<div class="text">
											<h3>Kişiye Özel Estetik</h3>
											<p>Kişinin istek ve arzuları göz önğne alınarak en uygun tedavi sürecine birlikte karar verilir ve uygulamaya geçilir.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
										<div class="text">
											<h3>Kişiye Özel Testler</h3>
											<p>Her kişinin durumu farklı olduğu için genelgeçer tedavi değil; kişiye özel tedavi süreci uygulanır. Bunun için de hastanın her tahlili operasyondan önce ayrı ayrı yapılır.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
										<div class="text">
											<h3>Düzenli Raporlama</h3>
											<p>Tüm tedavi ve operasyon süreci titizlikle raporlanır ve kişinin ilerleyişi ve değişimi bu raporlarda gösterilir.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="services-2 d-flex">
										<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
										<div class="text">
											<h3>Sürekli Takip</h3>
											<p>Hastanın durumu sürekli takip edilir ve sürdürülebilir takip ile birlikte her semptom özenle teşhis edilip en doğru tedavi uygulanır.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-intro" style="background-image: url({% static 'doktorsitesi/images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<h2>Size Uygun Estetetiği Keşfetmek İçin Hemen Arayın</h2>
						<p class="mb-0">Sağlığınız ve güzelliğiniz en değerli varlığınızdır. Onları daha iyi korumak için Opr. Dr. Ali Yılmaz yanınızda</p>
						<p></p>
					</div>
					<div class="col-md-3 d-flex align-items-center">
						<p class="mb-0"><a href="#" class="btn btn-success px-4 py-3">Hemen Ara</a></p>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Hizmetlerimiz</span>
            <h2 class="mb-4">Estetik Hizmetlerimiz</h2>
            <p>Opr. Dr. Ali Yılmaz tarafından titizlikle müdahaleleri yapılan tıbbi operasyon ve tedaviler aşağıdaki gibidir.</p>
          </div>
        </div>
    		<div class="ftco-departments">
					<div class="row">
            <div class="col-md-12 nav-link-wrap">
	            <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	              <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Saç Ekim</a>

	              <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Bıyık Ekim</a>

	              <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Sakal Ekimi</a>

	              <a class="nav-link ftco-animate" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Göğüs Estetiği</a>

	              <a class="nav-link ftco-animate" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Burun Estetiği</a>

	            </div>
	          </div>
	          <div class="col-md-12 tab-wrap">
	            
	            <div class="tab-content bg-light p-4 p-md-5 ftco-animate" id="v-pills-tabContent">

	              <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'doktorsitesi/images/dept-1.jpg' %});"></div>
	              		</div>
	              		<div class="col-lg-8">
	              			<h2>Saç Ekimi</h2>
                            <hr>
	              			<p>Saç dökülmesi sorunları günümüzde stresin de artmasıyla önlenemez hale gelmiştir.
Hem kadın hem erkek olarak cinsiyet farketmeksizin herkesin ortak problemidir.
Şimdiye kadar bir çok doğal ve tıbbi çözüm üretilmeye çalışılmıştır.</p>
<p>Saç Ekimi tedavisinde bir çok yöntem bulunmaktadır bunlardan en çok uygulananı fue saç ekimidir.Bu yöntemin en önemli özelliği herhangi bir cerrahi müdahale olmamasıdır.</p>

                            <p>Kafanızda herhangi bıçak darbesi olmadan çok hızlı ve başarılı sonuç alınacaktır.Hiç operasyon geçirilmemiş olmasının doğal sonucu olarak kafanızda herhangi dikiş izi de olmayacaktır. Böylece daha şık be estetik kafa yapınız olacak.</p>

                            <p>Çok yüksek başarı elde edilen bu yöntem sayesinde, kelleşmeleriniz büyük oranda giderilecektir.</p>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'doktorsitesi/images/dept-2.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Bıyık Ekimi</h2>
                            <hr>
	              			<p>İnsanların bir kısmında saç dökülmesi varken bir kısmında da bıyık dökülmesi veya hiç çıkmama problemi vardır.Bıyık dökülmesi veya doğuştan bıyık çıkmaması genellikle genetik faktörler ön planda olmakta birlikte beslenme ve streste etkilidir.</p>

                            <p>Bıyık dökülmesi ve bıyık çıkmaması tedavisi içim en iyi ve en sonuç alabileceğiniz yöntem bıyık ekimidir. Bu sayede bıyık bölgeleriniz kıllanacak ve daha şık bir görünüm elde edeceksiniz.</p>

                            <p>İnsanlarımız bilinçsizce aktardan aldığı bitkileri kullanmaktadırlar ve bundan medet ummaktadırlar herhangi doktor tedavisi olmadan kullanılan bu yöntemlere kesinlikle karşıyız.estetikly ailesi yeni nesil teknolojisi ve uzman ekibi ile size bıyık ekiminde de hizmet vermektedir.</p>

	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'doktorsitesi/images/dept-3.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Sakal Ekimi</h2>
	              			<p>Vucüda yapılan kıl Ekimi sadece kellik için değil ihtiyaçlarınıza göre de olmaktadır.Bunlardan en önemlilerinden biri de sakal ekimidir.Vucudunuzdaki olan kılın dökülmesi veya hiç çıkmaması Sakal bölgesinde de sıklıkla görülen bir sorundur.
Sakal erkeğin yüz güzelliği ve karizması için önemli bir yüz yapısıdır.bu nedenle sakal ekimi çok yoğun olarak yapılmaktadır.</p>


                            <p>Vücudunuzun herhangi bir yerinden alınan kökleri ekleyerek yapılacak bir operasyondur.
Herhangi bir cerrahi müdahale olmadan çok kısa sürede ve acısız bir operasyon ile halledilmektedir.</p>


                            <p>Estetikly olarak son teknoloji aletlerimiz ve uzman ekibimiz ile istediğiniz şekilde ve sıklıkta sakal ekimine sahip olacaksınız.Kiliniğimize girdiğiniz ilk andan son ana kadar yüksek memnuniyet duyacaksınız.Sorunsuz ve sizin isteklerinize göre hareket edilen bir sakal ekimi yapılacaktır.</p>

	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'doktorsitesi/images/dept-4.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Göğüs Estetiği</h2>
	              			<p>Meme estetiği denilince akla gelen ilk meme büyütme operasyonlarıdır. Ancak  meme estetiği yalnızca büyütmeyle sınırlı kalmamaktadır. Memesinin küçük olmasından şikayetçi olan kadınlar olduğu gibi büyük olmasından şikayet edenler de vardır. Bu gibi durumlarda küçültme operasyonları devreye girmektedir.</p>

                            <p>Bu durum kişiye hareket kısıtlılığı getirebilir ve sağlığını riske atabilir. Böyle bir durumda kadınlar küçültme talebinde bulunurlar. Bunun haricinde meme ucu estetiği, dikleştirme gibi birçok alanda estetik operasyonlar yapılabilmektedir. Bazen  de iki memenin boyutlarının farklı olması bile bu operasyonların gerçekleşmesine sebep verebilir.</p>

                            <p>Meme Estetiği operasyonlarından özellikle meme büyütme operasyonu, 18 yaşından sonra önerilen bir uygulamadır. Büyütme operasyonu sırasında kişinin birçok özelliği göz önüne alınır. Kişinin kilosu, boyu, yaşı ve gelişimi ele alınır ve uzmanlar tarafından uygun ölçü tespit edilerek uygulamaya geçilir. Bu operasyon, memenin altındaki boş alana silikon yerleştirilmesiyle gerçekleştirilir.</p>

	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
	              	<div class="row departments">
	              		<div class="col-lg-4 order-lg-last d-flex align-items-stretch">
	              			<div class="img d-flex align-self-stretch" style="background-image: url({% static 'doktorsitesi/images/dept-5.jpg' %});"></div>
	              		</div>
	              		<div class="col-md-8">
	              			<h2>Burun Estetiği</h2>
	              			<p>Yüz güzelliğinde en dikkat çekici yerlerden biri burnunuzdur. Güzel bir buruna sahip olduğunuzda, gözleriniz ve kaşlarınız ön plana çıkmaktadır. Burunun şekli, yüzün karakteristik özelliğini ve hatlarını tamamlayan en önemli parçadır. Estetik burun ameliyatları sadece şekilsel bozukluklar için değil, aynı zamanda nefes alabilme ile ilgili sorunların da düzeltilebileceği çok özel operasyonlardır.</p>

                            <p>Burun estetiğinde en önemli noktalardan biri de, yüzünüzdeki bütünlüğü bozmayacak şekilde, genel karakteristik özelliklerinize uygun bir doğallık yakalayabilmektir.</p>

                            <p>
Estetik burun operasyonları ile;
                            <li>Burnun boyutu küçültülebilir.</li>
                            <li>Burnun üstündeki kemer alınabilir.</li>
                            <li>Burnun ucu kaldırılabilir.</li>
                            <li>Burun kısaltılabilir veya uzatılabilir.</li>
                            <li>Burun ucunun şekli değiştirilebilir (kalınsa inceltilebilir, ince ise genişletilebilir).</li>
                            <li>Burun delikleri daraltılabilir veya genişletilebilir.</li>
                            <li>Üst dudakla burun arasındaki açı değiştirilebilir.</li>
                            <li>Burundaki eğrilik düzeltilebilir.</li>
                            <li>Eski operasyonlar sonucu oluşan memnuniyetsiz sonuçlar düzeltilebilir.</li>
Doğuştan oluşan bozuklukların, burun yaralanmalarının ve bazı solunumsal problemler bu operasyonla düzeltilebilir.

                            </p>

	              		</div>
	              	</div>
	              </div>
	            </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>
		
		<section class="ftco-section ftco-no-pt">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Doktorumuz</span>
            <h2 class="mb-4">Opr. Dr. Ali Yılmaz</h2>
            <p>Opr. Dr. Ali Yılmaz hakkında daha fazlasına bilgiye ulaşmak için <a href="{% url 'doktorhakkimizda' %}">buraya tıklayınız</a></p>
          </div>
        </div>	
				<div class="row d-flex justify-content-center">
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({% static 'doktorsitesi/images/doc-1.jpg' %});"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Opr. Dr. Ali Yılmaz</h3>
								<span class="position mb-2">Estetik Uzmanı</span>
								<div class="faded">
									<p>Opr. Dr. Ali Yılmaz 1990 yılında Marmara Üniversitesi Tıp Fakültesinden mezun olmuştur.
                                        1990 1994 yılları arasında Konya devlet hastanesinde çalıştı.
                                        1994 2000 yılları arasında Kayseri Erciyes Üniversitesi plastik cerrahi kliniğinde görev yaptı.
                                        2000 2003 yılları arasında medikal park plastik cerrahi kliniği direktörlüğü yaptı.
                                        2003 yılında Ali Yılmaz Estetik Kliniğini kurdu.</p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>



    <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter" style="background-image: url({% static 'doktorsitesi/images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 py-5 pr-md-5">
	          <div class="heading-section heading-section-white ftco-animate mb-5">
	          	<span class="subheading">İletişim</span>
	            <h2 class="mb-4">Opr. Dr. Ali Yılmaz'a Ulaş</h2>
	            <p>Opr. Dr. Ali Yılmaz'ın engin estetik tecrübelerinden faydalanmak için ulaşın.</p>
	          </div>
	          <form action="#" class="appointment-form ftco-animate">
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="İsim">
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Soyisim">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		    					<div class="form-field">
          					<div class="select-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="" id="" class="form-control">
                      	<option value="">İstediğiniz Hizmet</option>
                        <option value="">Saç Ekimi</option>
                        <option value="">Sakal Ekimi</option>
                        <option value="">Bıyık Ekimi</option>
                        <option value="">Göğüs Estetiği</option>
                        <option value="">Burun Estetiği</option>
                      </select>
                    </div>
		              </div>
		    				</div>
	    					<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Telefon">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<div class="input-wrap">
		            		<div class="icon"><span class="ion-md-calendar"></span></div>
		            		<input type="text" class="form-control appointment_date" placeholder="Tarih">
	            		</div>
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<div class="input-wrap">
		            		<div class="icon"><span class="ion-ios-clock"></span></div>
		            		<input type="text" class="form-control appointment_time" placeholder="Saat">
	            		</div>
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Mesajınız"></textarea>
		            </div>
		            <div class="form-group ml-md-4">
		              <input type="submit" value="Gönder" class="btn btn-secondary py-3 px-4">
		            </div>
	    				</div>
	    			</form>
    			</div>
    			<div class="col-lg-6 p-5 bg-counter aside-stretch">
						<h3 class="vr">Bazı Bilgiler</h3>
    				<div class="row pt-4 mt-1">
		          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 p-5 bg-light">
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		                <span>Yıllık Tecrübe</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 p-5 bg-light">
		              <div class="text">
		                <strong class="number" data-number="4500">0</strong>
		                <span>Mutlu Hasta</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 p-5 bg-light">
		              <div class="text">
		                <strong class="number" data-number="84">0</strong>
		                <span>7 Kişilik Ekip</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 p-5 bg-light">
		              <div class="text">
		                <strong class="number" data-number="300">0</strong>
		                <span>Farklı Cerrahi Tekniği</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>



		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
          	<span class="subheading">Tıbbi Yayınlar</span>
            <h2 class="mb-4">Opr. Dr. Ali Yılmaz'ın Son Tıbbi Yayınları</h2>
            <p>Opr. Dr. Ali Yılmaz sürekli güncel bilgilerle gerek hastalarını bilgilendirmekte gerek de tıbbi alandaki bilimsel araştırmalarına devam etmektedir.</p>
          </div>
        </div>
				<div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'doktorsitesi/images/makale-resim.png' %}');">
								<div class="meta-date text-center p-2">
                  <span class="day">23</span>
                  <span class="mos">Ocak</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Burun Estetğinde Dikkat Edilmesi Gerekenler</a></h3>
                <p>Burun estetiği ameliyatlarında hastanın yaşam konforunu bozan herhangi bir nefes alma probleminin olup olmadığı baştan kontrol edilmelidir.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Daha Fazla Oku <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Opr. Dr. Ali Yılmaz</a>

	                </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'doktorsitesi/images/makale-resim.png' %}');">
								<div class="meta-date text-center p-2">
                  <span class="day">23</span>
                  <span class="mos">Ocak</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Uygun Göğüs Estetiği Nasıl Olmalıdır?</a></h3>
                <p>Göğüs estetiği ameliyatlarında hastanın kan değerleri ve ameliyat geçmişi kontrol edildikten sonra müdahale edilmelidir.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Daha Fazla Oku <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Opr. Dr. Ali Yılmaz</a>

	                </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'doktorsitesi/images/makale-resim.png' %}');">
								<div class="meta-date text-center p-2">
                  <span class="day">23</span>
                  <span class="mos">Ocak</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Sağlıklı Saç Ekim Prosedürü Nasıl Olmalıdır?</a></h3>
                <p>Saç ekim işlemleri hastanın sosyal hayatında herhangibir konforsuzluğa yol açmayacak kadar rahat ve temiz bir işlem ile yapılmaktadır.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Daha Fazla Oku <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Opr. Dr. Ali Yılmaz</a>

	                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>

{% include 'doktorsitesi/components/footer.html' %}