{% load static %}


{% include 'doktorsitesi/components/header.html' %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'doktorsitesi/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Meme Estetiği</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Meme Estetiği </a></span> </p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-12 ftco-animate">
            <h2 class="mb-3">Meme Estetiği</h2>
            <p>Meme estetiği denilince akla gelen ilk meme büyütme operasyonlarıdır. Ancak  meme estetiği yalnızca büyütmeyle sınırlı kalmamaktadır. Memesinin küçük olmasından şikayetçi olan kadınlar olduğu gibi büyük olmasından şikayet edenler de vardır. Bu gibi durumlarda küçültme operasyonları devreye girmektedir.</p>

              <p>Bu durum kişiye hareket kısıtlılığı getirebilir ve sağlığını riske atabilir. Böyle bir durumda kadınlar küçültme talebinde bulunurlar. Bunun haricinde meme ucu estetiği, dikleştirme gibi birçok alanda estetik operasyonlar yapılabilmektedir. Bazen  de iki memenin boyutlarının farklı olması bile bu operasyonların gerçekleşmesine sebep verebilir.</p>
            <p>

              <img width="500" src="{% static 'doktorsitesi/images/gogus-estetigi.png' %}" alt="" class="img-fluid mx-auto d-block">

            </p>
            <p>Meme Estetiği operasyonlarından özellikle meme büyütme operasyonu, 18 yaşından sonra önerilen bir uygulamadır. Büyütme operasyonu sırasında kişinin birçok özelliği göz önüne alınır. Kişinin kilosu, boyu, yaşı ve gelişimi ele alınır ve uzmanlar tarafından uygun ölçü tespit edilerek uygulamaya geçilir. Bu operasyon, memenin altındaki boş alana silikon yerleştirilmesiyle gerçekleştirilir.
Operasyon sırasında gerektiği takdirde takdirde dikleştirme gibi operasyonlar da devreye sokulabilmektedir.Silikon boş alana uygulandığı için meme dokusunu etkilemez ve süt kanallarının çalışmasında herhangi bir düzensizliğe yol açmaz.</p>
              <hr>


            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img width="200px" src="{% static 'doktorsitesi/images/ozgecmis-resim.png' %}" alt="Opr. Dr. Ali Yılmaz" class="img-fluid mb-4 div-only-desktop">
              </div>
              <div class="desc">
                <h3>Opr. Dr. Ali Yılmaz</h3>
                <p>Doktor xxx 1990 yılında marmara Üniversitesi tıp fakültesinden mezun olmuştur.
                  <li>1990 1994 yılları arasında Konya devlet hastanesinde çalıştı.</li>
                  <li>1994 2000 yılları arasında Kayseri Erciyes Üniversitesi plastik cerrahi kliniğinde görev yaptı.</li>
                  <li>2000 2003 yılları arasında medikal park plastik cerrahi kliniği direktörlüğü yaptı.</li>
                  <li>2003 yılında Xx estetik kliniğini kurdu.</li></p>
              </div>
            </div>


          </div> <!-- .col-md-8 -->


        </div>
			</div>
		</section>







{% include 'doktorsitesi/components/footer.html' %}