{% load static %}

{% include 'doktorsitesi/components/header.html' %}





    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'doktorsitesi/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Sakal Ekimi</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="index.html">Sakal Ekimi </a></span> </p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-12 ftco-animate">
            <h2 class="mb-3">Sakal Ekimi</h2>

              <p>Vucüda yapılan kıl Ekimi sadece kellik için değil ihtiyaçlarınıza göre de olmaktadır.Bunlardan en önemlilerinden biri de sakal ekimidir.Vucudunuzdaki olan kılın dökülmesi veya hiç çıkmaması Sakal bölgesinde de sıklıkla görülen bir sorundur.</p>

              <p>Sakal erkeğin yüz güzelliği ve karizması için önemli bir yüz yapısıdır.bu nedenle sakal ekimi çok yoğun olarak yapılmaktadır.
</p>

              <p>Vücudunuzun herhangi bir yerinden alınan kökleri ekleyerek yapılacak bir operasyondur.
Herhangi bir cerrahi müdahale olmadan çok kısa sürede ve acısız bir operasyon ile halledilmektedir.</p>


              <br>
              <img width="300" src="{% static 'doktorsitesi/images/sac-ekimi.png' %}" alt="Kaş Ekimi" class="img-fluid mx-auto d-block">

              <br>
              <p>Yılmaz Klinik olarak son teknoloji aletlerimiz ve uzman ekibimiz ile istediğiniz şekilde ve sıklıkta sakal ekimine sahip olacaksınız.Kiliniğimize girdiğiniz ilk andan son ana kadar yüksek memnuniyet duyacaksınız.Sorunsuz ve sizin isteklerinize göre hareket edilen bir sakal ekimi yapılacaktır.</p>

            <p>

            </p>
              <hr>


            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img width="200px" src="{% static 'doktorsitesi/images/ozgecmis-resim.png' %}" alt="Opr. Dr. Ali Yılmaz" class="img-fluid mb-4 div-only-desktop">
              </div>
              <div class="desc">
                <h3>Opr. Dr. Ali Yılmaz</h3>
                <p>Doktor xxx 1990 yılında marmara Üniversitesi tıp fakültesinden mezun olmuştur.
                  <li>1990 1994 yılları arasında Konya devlet hastanesinde çalıştı.</li>
                  <li>1994 2000 yılları arasında Kayseri Erciyes Üniversitesi plastik cerrahi kliniğinde görev yaptı.</li>
                  <li>2000 2003 yılları arasında medikal park plastik cerrahi kliniği direktörlüğü yaptı.</li>
                  <li>2003 yılında Xx estetik kliniğini kurdu.</li></p>
              </div>
            </div>


          </div> <!-- .col-md-8 -->


        </div>
			</div>
		</section>





{% include 'doktorsitesi/components/footer.html' %}