{% load static %}


{% include 'doktorsitesi/components/header.html' %}




		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">


         <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'doktorsitesi/images/makale-resim.png' %}');">
								<div class="meta-date text-center p-2">
                  <span class="day">23</span>
                  <span class="mos">Ocak</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Burun Estetiğinde Dikkat Edilmesi Gerekenler</a></h3>
                <p>Burun estetiği ameliyatlarında hastanın yaşam konforunu bozan herhangi bir nefes alma probleminin olup olmadığı baştan kontrol edilmelidir.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Daha Fazla Oku <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Opr. Dr. Ali Yılmaz</a>

	                </p>
                </div>
              </div>
            </div>
          </div>


                             <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'doktorsitesi/images/makale-resim.png' %}');">
								<div class="meta-date text-center p-2">
                  <span class="day">28</span>
                  <span class="mos">Ocak</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Vücut Estetiğinde İmplant Kullanımı</a></h3>
                <p>Vücut estetiğinde kullanılan olan vücut implantları doğru seçilmelidir ve bu kullanılan implantların üretim tarihlerine bakılmalıdır.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Daha Fazla Oku <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Opr. Dr. Ali Yılmaz</a>

	                </p>
                </div>
              </div>
            </div>
          </div>
                             <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'doktorsitesi/images/makale-resim.png' %}');">
								<div class="meta-date text-center p-2">
                  <span class="day">10</span>
                  <span class="mos">Ocak</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Meme Cerrahisinde Yeni Teknikler Nelerdir?</a></h3>
                <p>Göğüs estetiği ameliyatlarında hastanın yaşam konforunu bozan herhangi bir nefes alma probleminin olup olmadığı baştan kontrol edilmelidir.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Daha Fazla Oku <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Opr. Dr. Ali Yılmaz</a>

	                </p>
                </div>
              </div>
            </div>
          </div>         <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'doktorsitesi/images/makale-resim.png' %}');">
								<div class="meta-date text-center p-2">
                  <span class="day">23</span>
                  <span class="mos">Ocak</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Genital Estetğinde Hastaların Dikkat Etmesi Gerekenler</a></h3>
                <p>Burun estetiği ameliyatlarında hastanın yaşam konforunu bozan herhangi bir nefes alma probleminin olup olmadığı baştan kontrol edilmelidir.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Daha Fazla Oku <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Opr. Dr. Ali Yılmaz</a>

	                </p>
                </div>
              </div>
            </div>
          </div>
                             <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'doktorsitesi/images/makale-resim.png' %}');">
								<div class="meta-date text-center p-2">
                  <span class="day">23</span>
                  <span class="mos">Ocak</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Botoks Zararlı Mıdır?</a></h3>
                <p>Burun estetiği ameliyatlarında hastanın yaşam konforunu bozan herhangi bir nefes alma probleminin olup olmadığı baştan kontrol edilmelidir.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Daha Fazla Oku <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Opr. Dr. Ali Yılmaz</a>

	                </p>
                </div>
              </div>
            </div>
          </div>
                             <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'doktorsitesi/images/makale-resim.png' %}');">
								<div class="meta-date text-center p-2">
                  <span class="day">23</span>
                  <span class="mos">Ocak</span>
                  <span class="yr">2019</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Burun Eğriliğinin Tedavisinde Doğal Kürler</a></h3>
                <p>Burun estetiği ameliyatlarında hastanın yaşam konforunu bozan herhangi bir nefes alma probleminin olup olmadığı baştan kontrol edilmelidir.</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="#" class="btn btn-primary">Daha Fazla Oku <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Opr. Dr. Ali Yılmaz</a>

	                </p>
                </div>
              </div>
            </div>
          </div>






        </div>
        <div class="row no-gutters my-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
			</div>
		</section>



{% include 'doktorsitesi/components/footer.html' %}